.header__logo {
	width: 190px;
	height: 35px;
	background: url('img/logo.svg');
}

input { opacity: 0; }

header {
	padding: 30px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 203px;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.menu {
  display: flex;
  padding: 11px;
  align-content: center;
}

.menu__item {
	font-family: robotomedium, arial, helvetica, sans-serif;
  font-weight: 500;
	font-style: normal;
	font-size: 18px;
	position: relative;
	margin-right: 11px;
	line-height: 21px;
	padding: 0 6px;
	color: #000;
	text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item_blog { left: 11px; }

.menu__item_contact-us { left: 16px; }

.menu__item:after {
	position: absolute;
	left: 0;
	display: block;
  content: '';
	width: 100%;
	height: 3px;
	background: #0056ec;
	opacity: 0;
  transition: opacity 0.5s;
}

.menu__item_active::after {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 2px;
	background: #0056ec;
}

.menu__item:last-child { margin-right: 0; }

.menu__item:hover { opacity: 0.5; }

.menu__item:hover:after {
	position: absolute;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 8px;
	background: #0056ec;
}

.menu__item:hover:after, .menu__item_active:after { opacity: 1; }

h1 {
	font-family: 'pt_serifbold', arial, helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 66px;
	line-height: 87.45px;
	width: 567px;
	height: 255px;
	top: 318px;
	left: 195px;
  margin: 191px 0 44px 0;
}

.main__text {
	font-family: robotoregular, arial, helvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
  font-size: 22px;
	line-height: 25.78px;
	width: 455px;
	height: 52px;
	top: 613px;
	left: 195px;
	margin: 0 0 40px 0;
}

.main__button {
  display: inline-block;
	margin-bottom: 317px;
	font: 18px/21px robotomedium, arial, helvetica, sans-serif;
	color: #fff;
	background: #0056ec;
	padding: 19px 28px;
	text-decoration: none;
	border-radius: 4px;
	transition: opacity 0.5s;
  animation: radial-pulse 1s infinite;
}  

@keyframes radial-pulse {
                         0% {
                             box-shadow: 0 0 0 0 rgba(23, 22, 22, 0.5);
}
                         100% {
                             box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
                           }
}

.main__button:hover { opacity: 0.5; }

.main__picture {
	padding: 0 39% 100px 0;
	position: absolute;
	height: 657px;
	top: 242px;
	background: top right no-repeat url(img/main.svg);
}

.main__tittle-text_highlight { background: linear-gradient(180deg, rgba(255,255,255,1) 15%, #ecf3ff 15%); }

@media (min-width: 1921px) {
  .wrapper { width: 80%; }

  header {
    padding: 32px 0;
    margin-bottom: 209px;
  }

  .hamburger-menu { margin-top: -13px; }

  .menu__item_start { left: 6px; }

  .menu__item_active { left: 3px; }

  .menu__item_about { left: 1px; }

  .menu__item_blog { left: 2px; }

  .menu__item_contact-us { left: 3px; }

  .main__text { margin: 0 0 39px 0; }

  .main__button {
    width: 216px;
    padding: 19px 33px 19px 23px;
  }

  .main__button:hover { opacity: 1; }

  .main__picture {
    padding: 0 40% 100px 0;
    left: 955px;
  }

  .main__points {
    background: no-repeat url(img/points.svg);
    position: absolute;
    top: 90%;
    padding: 20px;
    left: 50%;
  }
}

@media (min-width: 1920px) and (max-width: 1920px) {
  .wrapper { width: 80%; }

  header {
    padding: 32px 0;
    margin-bottom: 209px;
  }

  .menu__item_active::after {
    width: 85%;
    left: 7px;
    top: 24px;
    height: 3px;
  }

  .hamburger-menu { margin-top: -13px; }

  .menu__item_start { left: 5px; }

  .menu__item_active { left: 3px; }

  .menu__item_about { left: 2px; }

  .menu__item_blog { left: 2px; }

  .menu__item_contact-us { left: 2px; }

  .main__text { margin: 0 0 39px 0; }

  .main__button {
    width: 216px;
    padding: 19px 33px 19px 19px;
  }

  .main__picture {
    padding: 0 40% 100px 0;
    left: 955px;
  }

  .main__points {
    background: no-repeat url(img/points.svg);
    position: absolute;
    top: 95.6%;
    left: 944px;
    padding: 20px;
  }
}

@media (min-width: 1501px) and (max-width: 1919px) {
  .wrapper { width: 85%; }

  .main__picture {
    padding: 0 60% 100px 0;
    left: 540px;
    background-size: 710px 640px;
  }

  .main__points {
    background: no-repeat url(img/points.svg);
    position: absolute;
    top: 95%;
    left: 50%;
    padding: 20px;
  }
}


@media (min-width: 1401px) and (max-width: 1500px) {
  .wrapper { width: 85%; }

  header {
    padding: 32px 0;
    margin-bottom: 209px;
  }

  .hamburger-menu { margin-top: -13px; }

  .menu__item_about { left: -2px; }

  .menu__item_blog { left: -1px; }

  .menu__item_contact-us { left: 0; }

  .main__text { margin: 0 0 39px 0; }

  .main__button {
    width: 216px;
    padding: 19px 33px 19px 23px;
  }

  .main__picture {
    padding: 0 60% 0 0;
    left: 550px;
    background-size: 670px 580px;
  }

  .main__points {
    background: no-repeat url(img/points.svg);
    position: absolute;
    top: 95%;
    left: 50%;
    padding: 20px;
  }
}


@media (min-width: 1350px) and (max-width: 1400px) {
  .wrapper { width: 69%; }
    
  header {
    padding: 32px 0;
    margin-bottom: 82px;
  }

  .header__logo { background: no-repeat url('img/logo1024.svg'); }

  .hamburger-menu {
    padding: 8px;
    margin-top: 0;
  }

  .menu__box { margin-top: -20px; }

  .menu__item_active::after {
    position: absolute;
    display: block;
    content: '';
    width: 82%;
    height: 3px;
    left: 6px;
    top: 19px;
    background: #0056ec;
  }
  
  .menu__item { font-size: 14px; }

  .menu__item_start { left: 13px; }

  .menu__item_active { left: 11px; }

  .menu__item_about { left: 8px; }

  .menu__item_blog { left: 8px; }

  .menu__item_contact-us { left: 9px; }

  .menu__item:last-child { margin-right: 2%; }

  h1 {
    font-size: 50px;
    margin: 0 0 38px 0;
    line-height: 65px;
    width: 560px;
    height: unset;
  }

  .main__text {
    font-size: 18.5px;
    width: 352px;
    height: 43px;
    line-height: 21px;
    letter-spacing: -0.14px;
    margin: 0 0 42px 0;
  }

  .main__button {
    font: 14px/20px robotoregular, arial, helvetica, sans-serif;
    width: 168px;
    padding: 13px 26px 11px 17px;
  }

  .main__picture {
    background: top right no-repeat url(img/main.svg);
    background-size: 515px 440px;
    top: 195px;
    padding: 0 0 0 0;
    width: 51%;
    margin-left: 17%;
  }

  .main__points {
    background: no-repeat url(img/points.svg);
    position: absolute;
    top: 94%;
    left: 48.8%;
    padding: 20px;
  }
}


@media (min-width: 1201px) and (max-width: 1349px) {
    .wrapper { width: 75%; }
    
    header {
             padding: 32px 0;
             margin-bottom: 104px;
    }

    .header__logo { background: no-repeat url('img/logo1024.svg'); }

    .hamburger-menu {
                     padding: 8px;
                     margin-top: 0;
    }

    .menu__box { margin-top: -20px; }

    .menu__item { font-size: 14px; }

    .menu__item_start { left: 30px; }

    .menu__item_active { left: 28px; }

    .menu__item_about { left: 27px; }

    .menu__item_blog { left: 27px; }

    .menu__item_contact-us { left: 28px; }

    .menu__item:last-child { margin-right: 2%; }

    h1 {
         font-size: 50px;
         margin: 0 0 38px 0;
         line-height: 65px;
         width: 560px;
         height: unset;
    }

    .main__text {
                 font-size: 18.5px;
                 width: 352px;
                 height: 43px;
                 line-height: 21px;
                 letter-spacing: -0.14px;
                 margin: 0 0 42px 0;
    }

    .main__button {
                   font: 14px/20px robotoregular, arial, helvetica, sans-serif;
                   width: 168px;
                   padding: 13px 24px 11px 17px;
    }

    .main__picture {
                     background: top right no-repeat url(img/main.svg);
                     background-size: 515px 440px;
                     top: 195px;
                     padding: 0 0 0 0;
                     width: 51%;
                     margin-left: 30%;
    }

    .main__points {
                   background: no-repeat url(img/points.svg);
                   position: absolute;
                   top: 95.6%;
                   left: 50%;
                   padding: 20px;
    }
}


@media (min-width: 1025px) and (max-width: 1200px) {
	  .wrapper { width: 85%; }
    
    header {
    	       padding: 32px 0;
             margin-bottom: 104px;
    }

    .header__logo { background: no-repeat url('img/logo1024.svg'); }

    .hamburger-menu {
    	               padding: 8px;
                     margin-top: 0;
    }

    .menu__box { margin-top: -20px; }

    .menu__item { font-size: 14px; }

    .menu__item_start { left: 30px; }

    .menu__item_active { left: 28px; }

    .menu__item_about { left: 27px; }

    .menu__item_blog { left: 27px; }

    .menu__item_contact-us { left: 28px; }

    .menu__item:last-child { margin-right: 2%; }

    h1 {
    	   font-size: 50px;
    	   margin: 0 0 38px 0;
    	   line-height: 65px;
         width: 560px;
         height: unset;
    }

    .main__text {
    	           font-size: 18.5px;
    	           width: 352px;
    	           height: 43px;
                 line-height: 21px;
                 letter-spacing: -0.14px;
                 margin: 0 0 42px 0;
    }

    .main__button {
    	             font: 14px/20px robotoregular, arial, helvetica, sans-serif;
    	             width: 168px;
    	             padding: 13px 24px 11px 17px;
    }

    .main__picture {
    	               background: top right no-repeat url(img/main.svg);
    	               background-size: 515px 440px;
    	               top: 195px;
    	               padding: 0 0 0 0;
                     width: 51%;
                     margin-left: 39%;
    }

    .main__points {
                   background: no-repeat url(img/points.svg);
                   position: absolute;
                   top: 95.6%;
                   left: 50%;
                   padding: 20px;
    }
  }

@media (min-width: 1024px) and (max-width: 1024px) {
  .wrapper { width: 92.5%; }

  header {
           margin-bottom: 99px;
           padding: 32px 0;
  }

  .menu__item_active::after {
                             position: absolute;
                             display: block;
                             content: '';
                             width: 82%;
                             height: 2px;
                             left: 6px;
                             top: 19px;
                             background: #0056ec;
  }

  .menu__item { font-size: 14px; }

  .menu__item_start {
                     left: 9px;
                     top: -12px;
  }

  .menu__item_active {
                       left: 7px;
                       top: -12px;
  }

  .menu__item_about {
                     left: 5px;
                     top: -12px;
  }

  .menu__item_blog {
                     left: 5px;
                     top: -12px;
  }

  .menu__item_contact-us {
                           left: 5px;
                           top: -12px;
  }

  h1 {
       margin: 0 0 -22px 0;
       font-size: 51px;
       line-height: 65px;
       letter-spacing: -0.5px;
  }

  .main__text {
               margin: 0 0 33px 0;
               font-size: 18px;
               line-height: 22px;
               letter-spacing: 0.1px;
  }

  .main__picture {
                   top: 195px;
                   background-size: 515px 435px;
                   padding: 0 0 0 0;
                   width: 50%;
                   margin-left: 420px;
  }

  .main__button {
                 font: 14px/18px robotoregular, arial, helvetica, sans-serif;
                 padding: 14px 17px;
                 width: 175px;
  }

  .main__points {
                 background: no-repeat url(img/points.svg);
                 position: absolute;
                 top: 94%;
                 left: 48.4%;
                 padding: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .wrapper { width: 97%; }

	header {
		       padding: 32px 0;
           margin-bottom: 103px;
	}

	.header__logo { background: no-repeat url(img/logo.svg); }

	.menu { padding: 12px; }

	.menu__item_start { left: 107px; }

	.menu__item_active { left: 105px; }

	.menu__item_about { left: 103px; }

  .menu__item_blog { left: 104px; }

  .menu__item:last-child { margin-right: 99px; }

  .menu__item_contact-us { left: 104px; }

  h1 {
    	 line-height: 65px;
    	 margin: 0 0 -22px 0;
       letter-spacing: -0.5px;
    	 font-size: 43px;
       width: 400px;
  }

  .main__text {
    	         font-size: 18px;
    	         line-height: 22px;
    	         margin: 0 0 42px 0;
               letter-spacing: 0.1px;
  }

  .main__button {
    	           font: 14px/20px robotoregular, arial, helvetica, sans-serif;
  	             width: 168px;
  }

  .main__picture {
    	             background-size: 400px 330px;
    	             padding: 0 0 0 0;
                   width: 100%;
                   top: 220px;
                   margin-left: -18px;
  }

 .main__points {
                 background: no-repeat url(img/points.svg);
                 position: absolute;
                 top: 95%;
                 left: 50%;
                 padding: 20px;
  }
}

@media (min-width: 651px) and (max-width: 768px) {
  .wrapper {
             width: 90%;
             margin: auto;
  }
    
 .header {
           margin-bottom: 9%;
           padding: 5.8% 0;
  }

  .header__logo { background: no-repeat url(img/logomobile.svg); }

  .main {
         text-align: center;
         background-size: 74%;
         background-position: top center;
  }

  h1 {
       font: 1000 36px/48.5px pt_serifbold, arial, helvetica, sans-serif;
       margin-top: 68%;
       margin-left: 6%;
       width: 92%;
       height: 5%;
       letter-spacing: 1.3px;
  }

  .main__text {
               margin: 0 0 0 8%;
               width: 90%;
               font: 600 24px/28px robotoregular, arial, helvetica, sans-serif;
  }

  .main__picture {
                   padding: 0 0 0 0;
                   width: 400px;
                   height: 345px;
                   left: 24%;
                   background-position: top center;
                   top: 140px;
                   background: no-repeat url(img/mainmobile.svg);
                   background-size: 90%;
  } 

  .main__button {
                 font: 100 20px/16px robotoregular, arial, helvetica, sans-serif;
                 margin: 11% 0;
                 width: 61.5%;
                 padding: 4.5% 2.5% 4% 0;
                 border-radius: 4px;
  }

  #menu__toggle { opacity: 0; }

  .menu__btn {
               display: flex;
               align-items: center;
               position: absolute;
               left: 90%;
               cursor: pointer;
               z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
                             display: block;
                             position: absolute;
                             width: 25px;
                             margin-top: -24px;
                             height: 3px;
                             background-color: #0056ec;
   }

  .menu__btn > span::before {
                             content: '';
                             top: 15px;
  }

  .menu__btn > span::after {
                             content: '';
                             top: 32px;
  }

  .menu__box {
               display: block;
               position: fixed;
               top: 0;
               visibility: hidden;
               left: -100%;
               width: 204%;
               height: 100%;
               margin: 0;
               padding: 21% 0 100% 0;
               list-style: none;
               text-align: center;
               background-color: white;
               z-index: 1;
              }

  #menu__toggle:checked ~ .menu__btn > span { transform: rotate(45deg); }

  #menu__toggle:checked ~ .menu__btn > span::before {
                                                     top: 24px;
                                                     transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
                                                     top: 24px;
                                                     transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
                                       visibility: visible;
                                       left: 0;
  }

  .menu__item {
                font-size: 31px;
                font-weight: 500;
                display: block;
                padding: 1.6% 14%;
                color: #333;
  }

  .menu__item_start {
                     margin-top: 13%;
                     margin-right: 51%;
  }

  .menu__item_active {
                       margin-top: 2%;
                       margin-left: -50%;
  }

  .menu__item_active::after { display: none; }

  .menu__item_about {
                      margin-top: 2%;
                      margin-right: 51%;
  }

  .menu__item_blog {
                     margin-top: 2%;
                     margin-right: 53%;
  }

  .menu__item_contact-us { margin-top: 15px; }

  .menu__item:last-child { margin-left: -53%; }

  }
    
@media (min-width: 551px) and (max-width: 650px) {
  .wrapper {
             width: 90%;
             margin: auto;
  }
    
  .header {
           margin-bottom: 9%;
           padding: 5.8% 0;
  }

  .header__logo { background: no-repeat url(img/logomobile.svg); }

  .main {
         text-align: center;
         background-size: 74%;
         background-position: top center;
  }

  h1 {
       font: 1000 30px/38.5px pt_serifbold, arial, helvetica, sans-serif;
       margin-top: 62%;
       margin-left: 5%;
       width: 92%;
       height: 5%;
       letter-spacing: 1.3px;
  }

  .main__text {
                margin: 13% 0 0 9%;
                width: 85%;
                font: 600 23px/24px robotoregular, arial, helvetica, sans-serif;
  }

  .main__picture {
                   padding: 0 0 0 0;
                   width: 50%;
                   left: 29%;
                   background-position: top center;
                   top: 100px;
                   background: no-repeat url(img/mainmobile.svg);
  } 

  .main__button {
                 font: 100 14px/16px robotoregular, arial, helvetica, sans-serif;
                 margin: 11% 0;
                 width: 61.5%;
                 padding: 4.5% 2.5% 4% 0;
                 border-radius: 4px;
  }

  #menu__toggle { opacity: 0; }

  .menu__btn {
               display: flex; 
               align-items: center;
               position: absolute;
               left: 95%;
               cursor: pointer;
               z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
                             display: block;
                             position: absolute;
                             width: 25px;
                             margin-top: -24px;
                             height: 3px;
                             background-color: #0056ec;
  }

  .menu__btn > span::before {
                             content: '';
                             top: 15px;
  }

  .menu__btn > span::after {
                             content: '';
                             top: 32px;
  }

  .menu__box {
               display: block;
               position: fixed;
               top: 0;
               visibility: hidden;
               left: -100%;
               width: 204%;
               height: 100%;
               margin: 0;
               padding: 21% 0 100% 0;
               list-style: none;
               text-align: center;
               background-color: white;
               z-index: 1;
  }

  #menu__toggle:checked ~ .menu__btn > span { transform: rotate(45deg); }

  #menu__toggle:checked ~ .menu__btn > span::before {
                                                      top: 24px;
                                                      transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
                                                     top: 24px;
                                                     transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
                                       visibility: visible;
                                       left: 0;
  }

  .menu__item {
               font-size: 31px;
               font-weight: 500;
               display: block;
               padding: 1.6% 14%;
               color: #333;
  }

  .menu__item_start {
                     margin-top: 13%;
                     margin-right: 51%;
  }

 .menu__item_active {
                     margin-top: 2%;
                     margin-left: -50%;
  }

  .menu__item_active::after { display: none; }

  .menu__item_about {
                     margin-top: 2%;
                     margin-right: 51%;
  }

  .menu__item_blog {
                     margin-top: 2%;
                     margin-right: 53%;
  }

  .menu__item_contact-us { margin-top: 15px; }

  .menu__item:last-child { margin-left: -53%; }

}
    
@media (min-width: 510px) and (max-width: 550px) {
  .wrapper {
             width: 85%;
             margin: auto;
  }
    
  .header {
           margin-bottom: 9%;
           padding: 4.8% 0;
  }

  .header__logo { background: no-repeat url(img/logomobile.svg); }

  .main {
         text-align: center;
         background-size: 74%;
         background-position: top center;
  }

  h1 {
       font: 1000 30px/38.5px pt_serifbold, arial, helvetica, sans-serif;
       margin-top: 70%;
       margin-left: 8%;
       width: 92%;
       height: 5%;
       letter-spacing: 1.3px;
  }

  .main__text {
               margin: 8% 0 0 11%;
               width: 85%;
               font: 600 20px/24px robotoregular, arial, helvetica, sans-serif;
  }

  .main__picture {
                   padding: 0 0 0 0;
                   width: 280px;
                   height: 239px;
                   left: 26%;
                   background-position: top center;
                   top: 90px;
                   background: no-repeat url(img/mainmobile.svg);
  } 

  .main__button {
                  font: 100 14px/16px robotoregular, arial, helvetica, sans-serif;
                  margin: 11% 0;
                  width: 61.5%;
                  padding: 4.5% 2.5% 4% 0;
                  border-radius: 4px;
  }

  #menu__toggle { opacity: 0; }

  .menu__btn {
               display: flex; 
               align-items: center;
               position: absolute;
               left: 93%;
               cursor: pointer;
               z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
                             display: block;
                             position: absolute;
                             width: 25px;
                             margin-top: -24px;
                             height: 3px;
                             background-color: #0056ec;
  }

  .menu__btn > span::before {
                               content: '';
                               top: 15px;
  }

  .menu__btn > span::after {
                             content: '';
                             top: 32px;
  }

  .menu__box {
               display: block;
               position: fixed;
               top: 0;
               visibility: hidden;
               left: -100%;
               width: 204%;
               height: 100%;
               margin: 0;
               padding: 21% 0 100% 0;
               list-style: none;
               text-align: center;
               background-color: white;
               z-index: 1;
  }

  #menu__toggle:checked ~ .menu__btn > span { transform: rotate(45deg); }

  #menu__toggle:checked ~ .menu__btn > span::before {
                                                      top: 24px;
                                                      transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
                                                     top: 24px;
                                                     transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
                                       visibility: visible;
                                       left: 0;
  }

  .menu__item {
                 font-size: 31px;
                 font-weight: 500;
                 display: block;
                 padding: 1.6% 14%;
                 color: #333;
  }

  .menu__item_start {
                       margin-top: 13%;
                       margin-right: 51%;
  }

  .menu__item_active {
                       margin-top: 2%;
                       margin-left: -50%;
  }

  .menu__item_active::after { display: none; }

  .menu__item_about {
                       margin-top: 2%;
                       margin-right: 51%;
  }

  .menu__item_blog {
                     margin-top: 2%;
                     margin-right: 53%;
  }

  .menu__item_contact-us { margin-top: 15px; }

  .menu__item:last-child { margin-left: -53%; }

}

@media (min-width: 450px) and (max-width: 509px) {
  .wrapper { width: 91%; }
    
  .header {
             margin-bottom: 9%;
             padding: 4.8% 0;
  }

  .header__logo { background: no-repeat url(img/logomobile.svg); }

  .main {
           text-align: center;
           background-size: 74%;
           background-position: top center;
  }

  h1 {
       font: 1000 30px/38.5px pt_serifbold, arial, helvetica, sans-serif;
       margin-top: 70%;
       margin-left: 6%;
       width: 92%;
       height: 5%;
       letter-spacing: 1.3px;
  }

  .main__text {
                 margin: 0 0 0 12%;
                 width: 85%;
                 font: 600 20px/22px robotoregular, arial, helvetica, sans-serif;
  }

  .main__picture {
                   padding: 0 0 0 0;
                   width: 280px;
                   height: 239px;
                   left: 22%;
                   background-position: top center;
                   top: 10%;
                   background: no-repeat url(img/mainmobile.svg);
  } 

  .main__button {
                   font: 100 14px/16px robotoregular, arial, helvetica, sans-serif;
                   margin: 9% 0;
                   width: 61.5%;
                   padding: 4.5% 2.5% 4% 0;
                   border-radius: 4px;
  }

  #menu__toggle { opacity: 0; }

  .menu__btn {
               display: flex; 
               align-items: center;
               position: absolute;
               left: 93%;
               cursor: pointer;
               z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
                             display: block;
                             position: absolute;
                             width: 25px;
                             margin-top: -6px;
                             height: 3px;
                             background-color: #0056ec;
  }

  .menu__btn > span::before {
                               content: '';
                               top: -1px;
  }

  .menu__btn > span::after {
                             content: '';
                             top: 13px;
  }

  .menu__box {
               display: block;
               position: fixed;
               top: 0;
               visibility: hidden;
               left: -100%;
               width: 204%;
               height: 100%;
               margin: 0;
               padding: 21% 0 100% 0;
               list-style: none;
               text-align: center;
               background-color: white;
               z-index: 1;
  }

  #menu__toggle:checked ~ .menu__btn > span { transform: rotate(45deg); }

  #menu__toggle:checked ~ .menu__btn > span::before {
                                                       top: 6px;
                                                       transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
                                                     top: 6px;
                                                     transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
                                       visibility: visible;
                                       left: 0;
  }

  .menu__item {
                 font-size: 31px;
                 font-weight: 500;
                 display: block;
                 padding: 1.6% 14%;
                 color: #333;
  }

  .menu__item_start {
                       margin-top: 13%;
                       margin-right: 53%;
  }

  .menu__item_active {
                       margin-top: 2%;
                       margin-left: -52%;
  }

  .menu__item_active::after { display: none; }

  .menu__item_about {
                       margin-top: 2%;
                       margin-right: 53%;
  }

  .menu__item_blog {
                     margin-top: 2%;
                     margin-right: 56%;
  }

  .menu__item_contact-us { margin-top: 15px; }

  .menu__item:last-child { margin-left: -56%; }

}

@media (min-width: 401px) and (max-width: 449px) {
  .wrapper { width: 91%; }
    
  .header {
             margin-bottom: 9%;
             padding: 4.8% 0;
  }

  .header__logo { background: no-repeat url(img/logomobile.svg); }

  .main {
           text-align: center;
           background-size: 74%;
           background-position: top center;
  }

  h1 {
       font: 1000 30px/38.5px pt_serifbold, arial, helvetica, sans-serif;
       margin-top: 77%;
       margin-left: 6%;
       width: 92%;
       height: 5%;
       letter-spacing: 1.3px;
  }

  .main__text {
                 margin: 0 0 0 12%;
                 width: 80%;
                 font: 600 18px/22px robotoregular, arial, helvetica, sans-serif;
  }

  .main__picture {
                   padding: 0 0 0 0;
                   width: 280px;
                   height: 239px;
                   left: 19%;
                   background-position: top center;
                   top: 90px;
                   background: no-repeat url(img/mainmobile.svg);
  } 

  .main__button {
                   font: 100 14px/16px robotoregular, arial, helvetica, sans-serif;
                   margin: 9% 0;
                   width: 61.5%;
                   padding: 4.5% 2.5% 4% 0;
                   border-radius: 4px;
  }

  #menu__toggle { opacity: 0; }

  .menu__btn {
               display: flex; 
               align-items: center;
               position: absolute;
               left: 91%;
               cursor: pointer;
               z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
                             display: block;
                             position: absolute;
                             width: 25px;
                             margin-top: -6px;
                             height: 3px;
                             background-color: #0056ec;
  }

  .menu__btn > span::before {
                               content: '';
                               top: -1px;
  }

  .menu__btn > span::after {
                             content: '';
                             top: 13px;
  }

  .menu__box {
               display: block;
               position: fixed;
               top: 0;
               visibility: hidden;
               left: -100%;
               width: 204%;
               height: 100%;
               margin: 0;
               padding: 21% 0 100% 0;
               list-style: none;
               text-align: center;
               background-color: white;
               z-index: 1;
  }

  #menu__toggle:checked ~ .menu__btn > span { transform: rotate(45deg); }

  #menu__toggle:checked ~ .menu__btn > span::before {
                                                       top: 6px;
                                                       transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
                                                     top: 6px;
                                                     transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
                                       visibility: visible;
                                       left: 0;
  }

  .menu__item {
                 font-size: 31px;
                 font-weight: 500;
                 display: block;
                 padding: 1.6% 14%;
                 color: #333;
  }

  .menu__item_start {
                       margin-top: 13%;
                       margin-right: 53%;
  }

  .menu__item_active {
                       margin-top: 2%;
                       margin-left: -52%;
  }

  .menu__item_active::after { display: none; }

  .menu__item_about {
                       margin-top: 2%;
                       margin-right: 53%;
  }

  .menu__item_blog {
                     margin-top: 2%;
                     margin-right: 56%;
  }

  .menu__item_contact-us { margin-top: 15px; }

  .menu__item:last-child { margin-left: -56%; }

}

@media (max-width: 400px) {
  .wrapper { width: 91%; }
    
  header {
    	     margin-bottom: 9%;
    	     padding: 4.8% 0;
  }

  .header__logo { background: no-repeat url(img/logomobile.svg); }

  .main {
    	     text-align: center;
    	     background-size: 74%;
    	     background-position: top center;
  }

  h1 {
    	 font: 700 30px/38px pt_serifbold, arial, helvetica, sans-serif;
    	 margin-top: 84%;
       margin-left: 5%;
       margin-bottom: 11%;
    	 width: 92%;
       height: 15%;
  }

  .main__text {
                 margin-left: 11%;
    	           width: 80%;
    	           font: 600 16.5px/18px robotoregular, arial, helvetica, sans-serif;
  }

  .main__picture {
    	             padding: 0 0 0 0;
                   width: 280px;
                   height: 239px;
    	             margin-left: 6%;
    	             margin-top: -42%;
                   background: no-repeat url(img/mainmobile.svg);
  }	

  .main__button {
    	             font: 100 14px/16px robotoregular, arial, helvetica, sans-serif;
    	             margin: -3% 0;
    	             width: 61.5%;
    	             padding: 4.5% 2.5% 4% 0;
    	             border-radius: 4px;
  }

  #menu__toggle { opacity: 0; }

  .menu__btn {
               display: flex; 
               align-items: center;
               position: absolute;
               left: 87%;
               cursor: pointer;
               z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
                             display: block;
                             position: absolute;
                             width: 25px;
                             margin-top: -6px;
                             height: 3px;
                             background-color: #0056ec;
  }

  .menu__btn > span::before {
                               content: '';
                               top: -1px;
  }

  .menu__btn > span::after {
                               content: '';
                               top: 13px;
  }

  .menu__box {
               display: block;
               position: fixed;
               top: 0;
               visibility: hidden;
               left: -100%;
               width: 204%;
               height: 100%;
               margin: 0;
               padding: 21% 0 100% 0;
               list-style: none;
               text-align: center;
               background-color: white;
               z-index: 1;
  }

  #menu__toggle:checked ~ .menu__btn > span { transform: rotate(45deg); }

  #menu__toggle:checked ~ .menu__btn > span::before {
                                                       top: 6px;
                                                       transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
                                                     top: 6px;
                                                     transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
                                       visibility: visible;
                                       left: 0;
  }

  .menu__item {
                 font-size: 31px;
                 font-weight: 500;
                 display: block;
                 padding: 1.6% 14%;
                 color: #333;
  }

  .menu__item_start {
                       margin-top: 13.4%;
                       margin-left: -49.5%;
  }

  .menu__item_active {
                       margin-top: 2%;
                       margin-left: -49.5%;
  }

  .menu__item_active::after { display: none; }

  .menu__item_about {
                       margin-top: 1.5%;
                       margin-left: -50%;
  }

  .menu__item_blog {
                     margin-top: 2%;
                     margin-left: -53%;
  }
    
  .menu__item:last-child {
                           margin-top: 2%;
                           margin-left: -56%;
  }
}
