    .header__logo {
	   width: 190px;
	   height: 35px;
	   background: url('img/logo.svg');
    }

    input {
	   opacity: 0;
    }

    header {
	    padding: 30px 0;
      display: flex;
      justify-content: space-between;
      margin-bottom: 203px;
    }

    .wrapper{
      margin: auto;
      width: 80%;
    }

    .menu {
      display: flex;
      padding: 11px;
      align-content: center;
    }

    .menu__item {
	    font-family: robotoregular, arial, helvetica, sans-serif;
	    font-weight: 500;
	    font-style: normal;
	    font-size: 18px;
	    position: relative;
	    margin-right: 11px;
	    line-height: 21px;
	    padding: 0 6px;
	    color: #000;
	    text-decoration: none;
	    transition: opacity .5s;
    }

    .menu__item_blog {
	    left: 11px;
    }

    .menu__item_contact-us {
	    left: 16px;
    }

    .menu__item:after {
	    position: absolute;
	    left: 0;
	    display: block;
	    content: '';
	    width: 100%;
	    height: 3px;
	    background: #0056EC;
	    opacity: 0;
	    transition:opacity .5s;
    }

    .menu__item_active::after {
	    position: absolute;
	    display: block;
	    content: '';
	    width: 100%;
	    height: 2px;
	    background: #0056EC;
    }

    .menu__item:last-child {
	    margin-right: 0;
    }

    .menu__item:hover {
	    opacity: .5;
    }

    .menu__item:hover:after {
	    position: absolute;
	    left: 0;
	    display: block;
	    content: '';
	    width: 100%;
	    height: 22px;
	    background: #0056EC;
    }

    .menu__item:hover:after, .menu__item_active:after {
	    opacity: 1;
    }

    h1 {
	    font-family: 'pt_serifbold', arial, helvetica, sans-serif;
	    font-weight: normal;
	    font-style: normal;
	    font-size: 66px;
	    line-height: 87.45px;
	    width: 567px;
	    height: 255px;
	    top: 318px;
	    left: 195px;
	    margin: 191px 0 44px 0;
    }

    .main__text {
	    font-family: robotoregular, arial, helvetica, sans-serif;
	    font-weight: 400;
	    font-style: normal;
	    font-size: 22px;
	    line-height: 25.78px;
	    width: 455px;
	    height: 52px;
	    top: 613px;
	    left: 195px;
	    margin: 0 0 40px 0;
    }

    .main__button {
	    display: inline-block;
	    margin-bottom: 317px;
	    font: 18px/21px robotoregular, arial, helvetica, sans-serif;
	    color: #fff;
	    background: #0056EC;
	    padding: 19px 28px ;
	    text-decoration: none;
	    border-radius: 4px;
	    transition: opacity .5s;
      animation: radial-pulse 1s infinite;
     }   

    @keyframes radial-pulse {
      0% {
        box-shadow: 0 0 0 0px rgba(23, 22, 22, 0.5);
      }

      100% {
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
      }
    }

    .main__button:hover {
	    opacity: .5;
    }

    .main__picture {
	    padding: 0 39% 100px 0;
	    width: 770px;
	    position: absolute;
	    height: 657px;
	    top: 242px;
	    background: top right no-repeat url(img/main.svg);
    }

    .main__tittle-text_highlight {
	    background: #ECF3FF;
    }

@media (max-width: 1920px) {

    .wrapper {
      width: 80.3%;
    }

    header {
      padding: 32px 0;
      margin-bottom: 209px;
    }

    .hamburger-menu {
      margin-top: -13px;
    }

    .menu__item_about {
      left: -2px;
    }

    .menu__item_blog {
      left: -1px;
    }

    .menu__item_contact-us {
      left: 0;
    }

    .main__text {
      margin: 0 0 39px 0;
    }

    .main__button {
      width: 215px;
      padding: 19px 33px 19px 23px;
    }

    .main__picture {
      padding: 0 39.5% 100px 0;
    }
}


@media (max-width: 1367px) {

	 .wrapper {
    	width: 68.7%;
    }
    
    header {
    	padding: 32px 0;
    }

    .header__logo {
    	background: no-repeat url('img/logo1024.svg');
    }

    .hamburger-menu {
    	padding: 8px;
      margin-top: 0;
    }

    .menu__box {
     margin-top: -20px;
    }

    .menu__item {
     font-size: 14px;
    }

    .menu__item_start {
     left: 30px;
    }

    .menu__item_active {
     left: 28px;
    }

    .menu__item_about {
     left: 27px;
    }

    .menu__item_blog {
     left: 27px;
    }

    .menu__item_contact-us {
     left: 28px;
    }

    .menu__item:last-child {
      margin-right: 17px;
    }

	  header {
		  margin-bottom: 104px;
	  }

    h1 {
    	font-size: 50px;
    	margin: 0 0 38px 0;
    	line-height: 65px;
      width: 560px;
      height: unset;
    }

    .main__text {
    	font-size: 18.5px;
    	width: 352px;
    	height: 43px;
      line-height: 21px;
      letter-spacing: -0.14px;
    	margin: 0 0 42px 0;
    }

    .main__button {
    	font: 14px/20px robotoregular, arial, helvetica, sans-serif;
    	width: 168px;
    	padding: 13px 24px 11px 17px;
    }

    .main__picture {
    	background: top right no-repeat url(img/main.svg);
    	background-size: 520px 440px;
    	top: 195px;
    	padding: 0 12% 0 0;
    }
}

@media (max-width: 1024px) and (min-width: 801px) {

	  .wrapper {
		  width: 92.5%;
	  }

	  header {
		  padding: 32px 0;
	  }

	  .header__logo {
		  background: no-repeat url(img/logo.svg);
	  }

	  .menu {
		  padding: 12px;
	  }

	  .menu__item_start {
		  left: 115px;
	  }

	  .menu__item_active {
		  left: 113px;
	  }

	  .menu__item_about {
		  left: 111px;
	  }

    .menu__item_blog {
    	left: 112px;
    }

    .menu__item:last-child {
    	margin-right: 99px;
    }

    .menu__item_contact-us {
      left: 113px;
    }

    h1 {
    	line-height: 65px;
    	margin: 0 0 38px 0;
      letter-spacing: -0.5px;
    	font-size: 51px;
    }

    .main__text {
    	font-size: 18px;
    	line-height: 22px;
    	margin: 0 0 42px 0;
      letter-spacing: .1px;
    }

    .main__button {
    	font: 14px/20px robotoregular, arial, helvetica, sans-serif;
    	width: 168px;
    }

    .main__picture {
    	background-size: 510px 435px;
    	padding: 0 15.5% 0 0;
    }
}

@media (max-width: 375px) {

    .wrapper {
		  width: 91%;
	  }
    
    .header {
    	margin-bottom: 28px;
    	padding: 16px 0;
    }

    .header__logo {
		  background: no-repeat url(img/logomobile.svg);
	  }

    .main {
    	text-align: center;
    	padding: 210% 0 0;
    	background-size: 74%;
    	background-position: top center;
    }

    h1 {
    	font: 1000 30px/38.5px pt_serif, arial, helvetica, sans-serif;
    	margin: -440px 100px 35px 17px;
    	width: 300px;
      letter-spacing: 1.3px;
    }

    .main__text {
    	margin: 0 25px 0 40px;
    	width: 255px;
    	font: 600 16px/18px robotoregular, arial, helvetica, sans-serif;
    }

    .main__picture {
    	padding: 0 0 0 0;
    	left: -197px;
    	background-size: 36%;
    	background-position: top center;
    	top: 85px;
    }	

    .main__button {
    	font: 100 14px/16px robotoregular, arial, helvetica, sans-serif;
    	margin: 38px 0;
    	width: 202px;
    	padding: 14px 8px 14px 0;
    	border-radius: 4px;
    }

    #menu__toggle {
      opacity: 0;
    }

    .menu__btn {
      display: flex; 
      align-items: center;
      position: fixed;
      left: 326px;
      cursor: pointer;
      z-index: 2;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 25px;
      margin-top: -24px;
      height: 3px;
      background-color: #0056EC;
    }
    .menu__btn > span::before {
      content: '';
      top: 17px;
    }
    .menu__btn > span::after {
      content: '';
      top: 31px;
    }
    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      visibility: hidden;
      left: -100%;
      width: 770px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background-color: white;
      z-index: 1;
    }
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 24px;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 24px;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
    }
    .menu__item {
      font-size: 29px;
      font-weight: 700;
      display: block;
      padding: 12px 24px;
      color: #333;
    }
    .menu__item_start {
	     margin-top: 99px;
	     margin-right: 625px;
    }
    .menu__item_active {
	     margin-top: 16px;
	     margin-left: -612px;
    }
    .menu__item_active::after {
       display: none;
    }
    .menu__item_about {
	     margin-top: 15px;
	     margin-right: 622px;
    }
    .menu__item_blog {
	     margin-top: 15px;
	     margin-right: 625px;
    }
    .menu__item_contact-us {
	     margin-top: 15px;
    }
    .menu__item:last-child {
	     margin-left: -530.5px;
    }
  }


@media (min-width: 376px) and (max-width: 640px) {
  .wrapper {
    width: 89%;
  }

  .header__logo {
    width: 265px;
  }

  .menu__item {
    font-size: 15px;
  }

  .menu__item_start {
    left: 270px;
  }

  .menu__item_active {
    left: 267px;
  }

  .menu__item_about {
    left: 266px;
  }

  .menu__item_blog {
    left: 268px;
  }

  .menu__item_contact-us {
    left: 530px;
    top: -20px;
  }

  h1 {
    font-size: 45px;
    width: 555px;
  }

  .main__text {
    font-size: 17px;
  }

  .main__picture {
    background-size: 480px 410px;
  }

  .main__button {
    width: 166px;
  }
}

@media (min-width: 641px) and (max-width: 730px) {
  .wrapper {
    width: 90%;
  }

  .header__logo {
    width: 250px;
  }

  .menu__item {
    font-size: 16px;
  }

  .menu__item_start {
    left: 275px;
  }

  .menu__item_active {
    left: 275px;
  }

  .menu__item_about {
    left: 276px;
  }

  .menu__item_blog {
    left: 276px;
  }

  .menu__item_contact-us {
    left: 275px;
  }

  h1 {
    font-size: 47px;
    margin: 0 0 44px 0;
  }

  .main__text {
    font-size: 17px;
    margin: 0 0 47px 0;
  }

  .main__picture {
    background-size: 510px 450px;
    padding: 0 17% 0 0;
  }
}

@media (min-width: 731px) and (max-width: 800px) {

  .menu__item {
    font-size: 15px;
  }

  .menu__item_strat {
    left: 295px;
  }

  .menu__item_active {
    left: 293px;
  }

  .menu__item_about {
    left: 291px;
  }

  .menu__item_blog {
    left: 292px;
  }

  .menu__item_contact-us {
    left: 293px;
  }

  .main__tittle {
    font-size: 50px;
  }

  .main__picture {
    background-size: 500px 445px;
  }

}

@media (min-width: 377px) and (max-width: 460px) {
  .header__logo {
    width: 380px;
  }

  .menu__item_start {
    left: 260px;
  }

  .menu__item_active {
    left: 265px;
  }

  .menu__item_about {
    left: 405px;
    top: -20px;
  }

  .menu__item_blog {
    left: 405px;
    top: -20px;
  }

  .menu__item_contact-us {
    left: 525px;
    top: -41px;
  }

  h1 {
    font-size: 44px;
    margin: 0 0 35px 0;
  }

  .main__text {
    margin: 0 0 35px 0;
  }

  .main__picture {
  background-size: 470px 420px;
}



}
